{% extends 'base.html.twig' %}

{% block title %} List sent messages {% endblock %}

{% block body %}
    <ul>
        {% for sent_message in sent_messages %}
            <li style="background: {{ sent_message.color }}">
                {% include 'message/_partial.html.twig' %}
                <p><a href="{{ path('sentmessages_update', { 'id' : sent_message.id }) }}"> Update message </a></p>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{{ path('user_profile') }}">Back</a></p>
{% endblock %}
