{% extends 'base.html.twig' %}

{% block title %} List received messages {% endblock %}

{% block body %}
    <ul>
        {% for received_message in received_messages %}
            <li style="background: {{ received_message.color }}">
                {% include 'message/_partial.html.twig' with {'sent_message': received_message} %}
            </li>
        {% endfor %}
    </ul>

    <p><a href="{{ path('user_profile') }}">Back</a></p>
{% endblock %}
